.dropdown-menu {
  width: 170px;
  position: absolute;
  top: 75px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #a39ce0;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #938ccf;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
