@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

.GoToMap {
  border-radius: 12px;
  background-color: #440a67;
  color: white;
  padding: 7px 60px;
  text-align: center;
  font-size: 17px;
  margin: 100px 400px;
  width: 350px;
  height: 64px;
  top: 582px;
}

.main {
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 20px 80px;
}

#quote-box {
  background-color: #f2f2f2;
  width: 60rem;
  min-height: 10rem;
  margin-top: -2rem;
  padding: 3rem;
  border-radius: 5px;
  margin-left: 150px;
}
#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: "Nunito", sans-serif;
  color: #440a67;
}
#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  color: #440a67;
}
#button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
#new-quote {
  background: #440a67;
  border: none;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
#new-quote:hover {
  opacity: 0.9;
}
.saf {
  height: 80vh;
  display: flex;
  align-items: center;
}
