div {
  padding-left: 30px;
  padding-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 365px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 25px;
  border: 2px solid #440a67;
  box-sizing: border-box;
  border-radius: 6px;
  display: block;
}

input[type="text"] .creatName {
  display: inline;
}

input:focus {
  outline: 3px solid white;
}

input::placeholder {
  margin: 0;
}

.button {
  width: 365px;
  height: 54px;
  margin-top: 15px;
  margin-left: 0;
  background-color: #440a67;
  color: aliceblue;
}

.button:hover {
  background-color: #5c118a;
}

.h5 {
  width: 381px;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
  color: #93329e;
}

.bottomLinks {
  margin-left: 20px;
}

#webName {
  width: 500px;
  height: 45px;
  font-size: 35px;
}

#welcome {
  font-size: 20px;
  height: 44px;
  width: 500px;
  margin-top: -15px;
}

#bigTit {
  margin-bottom: 50px;
  font-weight: bold !important;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -1.34px;
  display: block;
}

.text {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  color: #440a67;
}

.signningItem {
  margin-bottom: 0px !important;
}
