@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.BooksList {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  padding: 30px;
}
.filter {
  width: 35%;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  margin: auto;
  align-items: center;
  justify-content: center;
}
.filterButton {
  width: 100%;
  text-align: center;
  border: none;
  padding: 7px;
  font-size: 25px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.SearchForm {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 10px;
}

.SearchInput {
  border: none;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
}
.AllBooks {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.card {
  background: #fff;
  width: 250px;
  border-radius: 0.6em;
  margin: 1em;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.card:hover {
  transform: scale(1.02);
}

.cardImg img {
  height: 250px;
  width: 230px;
  padding: 10px;
  border-radius: 0.6em;
}
.description {
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.cardTitle {
  text-transform: uppercase;
  color: #440a67;
}

.more {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5rem;
  background-color: #440a67;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}
