@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.BooksPage {
  min-height: 100vh;
  /* background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%); */
  background-color: #f1f1f1;
  padding: 90px;
}

.SearchForm {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0 10px;
}

.SearchInput {
  border: none;
  padding: 15px;
  margin: 8px;
  border-radius: 10px;
  width: 45%;
  outline: none;
  transition: 0.3s;
  height: 50px;
  font-family: 'Playfair Display ', serif;
  color: #5e5959;
}
.SearchInput:focus {
  outline: none;
}
.BooksList {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.Bookcard {
  text-decoration: none;
  background: #fff;
  width: 250px;
  height: 320px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 0.6em;
  box-shadow: 0 13px 27px -5px rgba(32, 32, 65, 0.25),
    0 8px 16px -8px hsla(0, 2%, 36%, 0.3),
    0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.Bookcard:hover {
  text-decoration: none;
  transform: scale(1.02);
}

.BookImage img {
  height: 175px;
  width: 100%;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

.BookTitle {
  font-size: 18px;
  height: 25px;
  overflow: hidden;
  margin-top: 10px;
  font-weight: 600;
  color: #440a67;
  font-family: 'Courgette';
}

.BookAuthor {
  font-size: 12px;
  line-height: 1.33;
  margin-top: 5px;
  color: #4a4a4a;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}
.BookDescription {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.5;
  height: 35px;
  overflow: hidden;
  margin-bottom: 5px;
  font-family: Roboto, Arial, sans-serif;
}
.userLabel {
  display: flex;
  flex-direction: row;
  color: #4a4a4a;
  padding: 15px;
  height: 60px;
  margin-top: -7px;
}

.publisherImg {
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  object-fit: cover;
}
.publisherName {
  font-size: 12px;
  color: #4a4a4a;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 5px;
}
.publisherName:hover {
  color: #5e5959;
}
