@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 60px;
}

.contact_box {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left {
  padding: 25px 40px;
}
.right {
  padding: 25px 40px;
  margin-top: 195px;
}

.Title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #440a67;
  text-align: left;
  font-family: 'Sriracha';
}

.subtitle {
  margin: 16px 16px 4px;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto, Arial, sans-serif;
  color: #4a4a4a;
}
.field,
.field2,
.fieldDescription {
  width: 100%;
  outline: none;
  transition: 0.3s;
  font-family: 'Droid Arabic Kufi', serif;
  border-radius: 10px;
  border: 1px solid #d1d5da;
  height: 40px;
  padding: 0 24px;
  font-size: 16px;
  background-color: #f8f8f8;
}
.field2 {
  margin-bottom: 38px;
}
.fieldDescription {
  height: 150px;
}
.editeImage {
  width: 130px;
  height: 100px;
  margin-right: 20px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inputfile + label {
  font-family: 'Courier Prime', monospace;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  font-size: 16px;
  width: 130px;
  height: 100px;
  display: inline-block;
}

.btn {
  width: 30%;
  padding: 0.5rem 1rem;
  background-color: #440a67;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
  margin-top: 24px;
  margin-left: 275px;
}

.btn:hover {
  background-color: #54147c;
}

.field:focus {
  border: 2px solid #54147c;
  background-color: #fff;
}
